<div class="thumbnail chart-card">
  <svg [attr.width]="width" [attr.height]="height">
    <g *ngIf="data">
      <g [attr.transform]="translateTo(margin)">
        <g class="axis axis--x"
          [attr.transform]="translateTo({left: 0, top: effectiveHeight})"
          [d3Call]="xAxe">
        </g>
        <g class="axis axis--y" [d3Call]="yAxe">
          <text transform="rotate(-90)"
            y="6"
            dy="0.71em"
            text-anchor="end">
              Frequency
          </text>
        </g>
        <rect class="bar" *ngFor="let d of data"
          [attr.x]="x(d.letter)"
          [attr.y]="y(d.freq)"
          [attr.width]="x.bandwidth()"
          [attr.height]="effectiveHeight - y(d.freq)">
        </rect>
      </g>
    </g>
  </svg>
  <div class="caption">
    <h4>Barcharts without transition</h4>
  </div>
  <div>
      <a href="https://github.com/AlexPikalov/ngd3/blob/master/example/src/app/bar-charts/bar-charts.component.ts">Component TypeScript</a>
      |
      <a href="https://github.com/AlexPikalov/ngd3/blob/master/example/src/app/bar-charts/bar-charts.component.html">Component HTML template</a>
    </div>
</div>
<div class="thumbnail chart-card">
  <svg [attr.width]="width" [attr.height]="height">
    <g *ngIf="data">
      <g [attr.transform]="translateTo(margin)">
        <g class="axis axis--x"
          [attr.transform]="translateTo({left: 0, top: effectiveHeight})"
          [d3Call]="xAxe">
        </g>
        <g class="axis axis--y"
          [d3Call]="yAxe">
          <text transform="rotate(-90)"
            y="6"
            dy="0.71em"
            text-anchor="end">
              Frequency
          </text>
        </g>
          <rect class="bar" *ngFor="let d of data; trackBy: dataComparator"
          [d3Transition]="transition"
          [attr.x]="x(d.letter)"
          [attr.width]="x.bandwidth()"
          [d3-attr]="{height: effectiveHeight - y(d.freq), y: y(d.freq)}">
        </rect> 
      </g>
    </g>
  </svg>
  <div class="caption">
    <h4>Barcharts with transition</h4>
  </div>
  <div>
      <a href="https://github.com/AlexPikalov/ngd3/blob/master/example/src/app/bar-charts/bar-charts.component.ts">Component TypeScript</a>
      |
      <a href="https://github.com/AlexPikalov/ngd3/blob/master/example/src/app/bar-charts/bar-charts.component.html">Component HTML template</a>
    </div>
</div>
