<div class="thumbnail chart-card">
  <svg [attr.width]="width" [attr.height]="height">
    <g *ngIf="data"> 
      <g class="links">
        <line *ngFor="let line of data.links"
          [attr.stroke-width]="linkWidth(line)"
          [attr.x1]="linkX1(line)"
          [attr.y1]="linkY1(line)"
          [attr.x2]="linkX2(line)"
          [attr.y2]="linkY2(line)">
        </line>
      </g>
      <g class="nodes">
        <circle *ngFor="let node of data.nodes"
          r="5"
          [attr.fill]="color(node.group)"
          [attr.cx]="nodeX(node)"
          [attr.cy]="nodeY(node)"
          [d3Call]="dragFactory(node)">
            <title>{{ node.id }}</title>
        </circle>
      </g>
    </g> 
  </svg>
  <div class="caption">
    <h4>Forced graph</h4>
    <div>
      <a href="https://github.com/AlexPikalov/ngd3/blob/master/example/src/app/forced-graph/forced-graph.component.ts">Component TypeScript</a>
      |
      <a href="https://github.com/AlexPikalov/ngd3/blob/master/example/src/app/forced-graph/forced-graph.component.html">Component HTML template</a>
    </div>
  </div>
</div>
